@import url("_reset.css");
@import url("_utils.css");
/* @import url("_first-section.css");
@import url("_second-section.css");
@import url("_third-section.css");
@import url("_footer.css"); */

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.content-section {
  grid-column-end: span 2;
  grid-row-end: auto;
  text-align: center;
  font-size: 1.6rem;
}
.flex-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 10rem;
}
.header h1,
p,
.button {
  color: var(--color-secondry);
  margin-top: 2rem;
}
/* .header p {
  width: 40%;
} */

.button {
  width: 10rem;
  height: 4rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-grey);
  border-radius: 3px;
}
.two-column {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  text-align: center;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card {
  width: 17rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.footer-section {
  grid-column-end: span 1;
  grid-row-end: auto;
  text-align: center;
  font-size: 1.6rem;
}

.footer {
  grid-column-end: span 2;
  grid-row-end: auto;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

@media screen and (max-width: 650px) {
  .two-column {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .flex-section {
    padding: 4rem 4rem;
  }
  .footer-section {
    grid-column-end: span 2;
  }
}
@media screen and (max-width: 365px) {
  .footer {
    flex-direction: column;
  }
}
