*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}

body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.main {
  width: 60%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-auto-rows: 130px;
  gap: 0.5rem;
  margin: 4rem 0;
  /* position: relative; */
}

.main img {
  width: 100%;
  height: auto;
}

.main .item {
  overflow: hidden;
}

.main .short {
  grid-row-end: span 1;
}
.main .tall {
  grid-row-end: span 2;
}

@media screen and (max-width: 1020px) {
  .main {
    grid-auto-rows: 120px;
  }
}
@media screen and (max-width: 945px) {
  .main {
    grid-auto-rows: 110px;
  }
}
